@model RAR.ViewModel.DettaglioCodiceRaccViewModel
    <div>
        <p align="center">
            Dettaglio primo esito (fonte Esa_Racc)
        </p>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.IdFileNameEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.IdDispaccioOutEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.ProgressivoUtenteEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataElabEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataLoadDatiEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.LocalitaEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataNotificaEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DestinatarioEsaracc)
                    </th>
                </tr>
            </thead>
            <tbody>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.IdFileNameEsaracc)
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.IdDispaccioOutEsaracc)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.ProgressivoUtenteEsaracc)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataElabEsaracc)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataLoadDatiEsaracc)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.LocalitaEsaracc)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataNotificaEsaracc)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DestinatarioEsaracc)
                    </td>

            </tbody>

        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodeCapDestEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.LocDestEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.ViaDestEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceEsitoEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FlagFonteEsitoEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceMotivoEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FileNameArEsaracc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodeOpeDeEsaracc)
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodeCapDestEsaracc)
                    </td>
                    <th>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.LocDestEsaracc)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.ViaDestEsaracc)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceEsitoEsaracc)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FlagFonteEsitoEsaracc)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceMotivoEsaracc)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FileNameArEsaracc)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodeOpeDeEsaracc)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>