@model RAR.ViewModel.DettaglioCodiceRaccViewModel

<div>
    <p>
        <h6 style="text-align:center; color:navy;">Esiti successivi o non corretti:</h6>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.IdDispaccioOutNewpozzoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceEsitoNewpozzoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FlagFonteEsitoNewpozzoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FileNameArNewpozzoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataLoadDatiNewpozzoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataElabNewpozzoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataNotificaNewpozzoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceMotivoNewpozzoes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodeOpeDeNewpozzoes)
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.IdDispaccioOutNewpozzoes)
                </td>
                <th>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceEsitoNewpozzoes)
                </th>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FlagFonteEsitoNewpozzoes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FileNameArNewpozzoes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataLoadDatiNewpozzoes)
                </td>

                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataElabNewpozzoes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataNotificaNewpozzoes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceMotivoNewpozzoes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodeOpeDeNewpozzoes)
                </td>

            </tr>
        </tbody>
    </table>
</div>