@model RAR.ViewModel.DettaglioCodiceRaccViewModel

<div>
    <p align="center">Esiti da rendicontare al Cliente :</p>

    <table class="table table-striped">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceEsitoNlrendes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FlagFonteEsitoNlrendes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FileNameArNlrendes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataLoadDatiNlrendes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataElabNlrendes)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataNotificaNlrendes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DispaccioOutNlrendes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FileNameEstrattoNlrendes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataEstrazioneNlrendes)
                </th>

            </tr>
        </thead>
        <tbody>

            <tr>

                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.CodiceEsitoNlrendes)
                </td>
                <th>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FlagFonteEsitoNlrendes)
                </th>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FileNameArNlrendes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataLoadDatiNlrendes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataElabNlrendes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataNotificaNlrendes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DispaccioOutNlrendes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.FileNameEstrattoNlrendes)
                </td>
                <td>
                    @Html.DisplayFor(model => model.dettaglioPrimoEsitofonteEsaRacc.DataEstrazioneNlrendes)
                </td>
            </tr>
        </tbody>
    </table>
</div>